.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  .wheel {
    position: relative;
    border-radius: 50%;
    border: solid var(--border-width) var(--border-color);
    font-family: var(--font);
    &-items {
      position: relative;
      width: var(--width);
      height: var(--width);
      border-radius: 50%;
      overflow: hidden;
      transition: $duration;
    }
    &-item {
      position: absolute;
      left: calc(var(--r) - var(--l));
      width: 0;
      height: 0;
      border: solid;
      border-width: var(--r) var(--l) 0;
      border-color: transparent;
      transform-origin: 50% 100%;
      &-text {
        position: relative;
        transform: rotateZ(90deg);
        display: block;
        margin-top: var(--text-margin-top);
        margin-left: var(--text-margin-left);
        width: var(--text-width);
        font-size: var(--text-size);
        transform-origin: var(--text-trans-org) 0;
        text-align: center;
        font-weight: bold;
      }
    }
    &-arrow {
      position: absolute;
      top: var(--arrow-location);
      left: var(--arrow-location);
      width: var(--arrow-width);
      height: var(--arrow-width);
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--border-color);
      border-radius: 50%;
      &::after {
        content: "";
        position: absolute;
        top: -15px;
        left: 25px;
        width: 0;
        height: 0;
        border: solid;
        border-width: 0 10px 20px;
        border-color: transparent;
        border-bottom-color: var(--border-color);
      }
      &-btn {
        width: var(--btn-width);
        height: var(--btn-width);
        background-color: var(--btn-bg);
        border: none;
        border-radius: 50%;
        font-weight: 600;
        font-size: var(--btn-text-size);
        color: var(--btn-color);
        cursor: pointer;
        user-select: none;
        transition: 0.3s;
        &:hover {
          color: var(--btn-hover-color);
        }
        &:active {
          font-size: 15px;
          border: solid 3px var(--btn-active-color);
        }
      }
    }
  }
}
