$items: $pairs * 2;

$next-color: 1;
@for $i from 1 through $items {
  $color: 0;
  $text-color: 0;
  @if $i % 2 == 1 {
    $color: var(--main-color);
    $text-color: var(--main-text-color);
  } @else {
    $color: var(--color-#{$next-color});
    $text-color: var(--text-color-#{$next-color});
    $next-color: $next-color % $colors + 1;
  }
  .wheel-container .wheel .wheel-items .wheel-item:nth-child(#{$i}) {
    border-top-color: $color;
    transform: rotate(#{math.div(360, $items) * ($i - 1)}deg);
    .wheel-item-text {
      color: $text-color;
    }
  }
}
