$width: 512px;
$inner-width: 500px;

$pairs: 3;

$spin-width: 70px;
$btn-width: 60px;

$text-size: 24px;

$spin-color: #000;

$btn-bg: #fff;
$btn-color: #000;
$btn-hover-color: #ef4444;
$btn-active-color: #0000001a;

$main-color: #ef4444;
$main-text-color: #fff;
$colors: #111827, #fff;
$text-colors: #fff, #000;

$duration: 5s;
